@*@model EntityLayer.Entities.FA;*@
@{
}

<div class="container">
    <div class="row justify-content-center">

        <div class="col-xl-12 col-lg-12 col-md-12">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Fatura Kayıt Formu</h1>
                                </div>

                                <form class="user" method="post">

                                    <div class="form-group col-12">


                                        <div class="form-group col-md-6 float-right">
                                            <label class="col-form-label col-4 float-left">Fatura Tipi:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="FAType" name="FAType" required>
                                                    <option selected>Seçiniz...</option>
                                                    <option value="Elektrik">Elektrik</option>
                                                    <option value="Su">Su</option>
                                                    <option value="Doğalgaz">Doğalgaz</option>
                                                    <option value="Aidat">Aidat</option>
                                                </select>
                                                @*<span asp-validation-for="FAType" class="text-danger float-right"></span>*@
                                            </div>
                                        </div>

                                        <div class="form-group col-md-6 float-left">
                                            <label class="col-form-label col-4 float-left">Kullanıcı:</label>

                                            <div class="col-8 float-left">
                                                <select class="form-control custom-select" id="userId" name="UserId">
                                                    <option selected>Seçiniz...</option>
                                                    @foreach (var item in @Model)
                                                    { 
                                                        <option value="@item.id">@item.FirstName @item.LastName</option>
                                                    }
                                                    @* @await Component.InvokeAsync("AllUsersFA")*@
                                                    @*<option value="832179d8-5c1e-4ec7-f95c-08da843c834d">Kaan Baş</option>
                                                    <option value="5983a496-df75-4f37-0869-08da84d710fa">Deniz Toprak</option>
                                                    <option value="832179d8-5c1e-4ec7-f95c-08da843c838d">Anıl Demir</option>*@
                                                </select>
                                                @*<span asp-validation-for="FirstName" class="text-danger float-right" ></span>*@
                                            </div>
                                        </div>

                                    </div>


                                    <div class="form-group col-12">

                                        <div class="form-group col-md-6 float-left">
                                            <label class="col-form-label col-4 float-left">Fatura Tutarı:</label>
                                            <input type="number" class="form-control form-control-user col-8 float-right"
                                                   id="Amount" aria-describedby="AmountHelp"
                                                   placeholder="örn. 250" name="Amount">
                                            @*<span asp-validation-for="Amount" class="text-danger float-right"></span>*@
                                        </div>

                                        <div class="form-group col-md-6 float-right">
                                            <label class="col-form-label col-4 float-left">Fatura Durumu:</label>

                                            <div class="col-8 float-right">
                                                <select class="form-control custom-select" id="faStatus">
                                                    <option selected>Seçiniz...</option>
                                                    <option value="False">Pasif</option>
                                                    <option value="True">Aktif</option>
                                                </select>
                                                @*<span asp-validation-for="Status" class="text-danger float-right"></span>*@
                                            </div>
                                        </div>

                                    </div>



                                    <div class="form-group col-12" data-provide="datepicker">
                                        <div class="form-group col-md-6 float-left">
                                            <label class="col-form-label col-4 float-left">Son Ödeme Tarihi:</label>

                                            <div class="form-group col-md-6 float-left " id="datepicker">
                                                <div class="input-group date">
                                                    <input type="text" value="05/16/2018" class="form-control form-control col-8 float-right" name="DueDate" required />
                                                    <div class="input-group-addon input-group-append">
                                                        <div class="input-group-text">
                                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                    @*<span asp-validation-for="DueDate" class="text-danger float-right"></span>*@
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <br />
                                    <button type="submit" class="btn btn-primary btn-user btn-block " style="width: 250px;margin: 0 auto;font-size: medium;">
                                        Kaydet
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</div>




@*<script type="text/javascript">
    $('.datepicker').datepicker({
    format: 'mm/dd/yyyy',
    startDate: '-3d'
});
</script>*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script type="text/javascript" language="javascript">

    //  function reply_click()
    //{
    //    $('.datepicker').datepicker({
    //          format: 'mm/dd/yyyy',
    //          startDate: '-3d'
    //      });
    //}

    //const dateInput = document.getElementById(".datepicker");
    //dateInput.datepicker();

    //$(document).ready(function() {

    //      $(".datepicker").datepicker({
    //          format: 'mm/dd/yyyy',
    //          startDate: '-3d'
    //      });
    //  })(jQuery);


    //$(function () {
    //  $('#datepicker').datepicker({
    //    viewMode: 'years'
    //  });
    //});


    function reply_click() {
        $('#datepicker').datepicker({
            viewMode: 'years'
        });
    }

</script>
