@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary" style="float:left;">Kullanıcılar</h1>
            <a class="btn btn-success"  style="float:right;" asp-action="NewUser" asp-controller="UserAdmin">Yeni Kullanıcı Ekle</a>  
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Kullanıcı Adı</th>
                            <th>TC Numarası</th>
                            <th>Email</th>
                            <th>Telefon Numarası</th>
                            <th>Daire Durumu</th>
                            <th>Kullanıcı Durumu</th>
                            <th>Kullanıcı Rolü</th>
                            <th>Kayıt Tarihi</th>
                            <th>Güncellenme Tarihi</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Ad</th>
                            <th>TC Numarası</th>
                            <th>Email</th>
                            <th>Telefon Numarası</th>
                            <th>Daire Durumu</th>
                            <th>Kullanıcı Durumu</th>
                            <th>Kullanıcı Rolü</th>
                            <th>Kayıt Tarihi</th>
                            <th>Güncellenme Tarihi</th>
                            <th>Düzenle</th>
                            <th>Sil</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @for (var i = 0; i < 12; i++)
                        {
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>11111111111</td>
                                <td>abc@abc.com</td>
                                <td>0534 780 32 15</td>
                                <td>Kiracı</td>
                                <td>Aktif</td>
                                <td>Admin</td>
                                <td>01/06/2022</td>
                                <td>01/07/2022</td>
                                <td >
                                    <a class="btn btn-warning" style="color:black;" asp-action="UpdateUser" asp-controller="UserAdmin"><i class="fa fa-pencil-alt" aria-hidden="true"></i></a>                                    
                                </td>
                                <td>
                                    <a class="btn btn-danger" style="color:whitesmoke;" asp-action="DeleteUser" asp-controller="UserAdmin" ><i class="fa fa-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>